@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200&display=swap');

.Navbar{
    background-color: rgba(0, 0, 0, 0.479);
}

#logo{
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: xx-large ;
}

.brand{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
}

#link{
    font-family: 'Nunito', sans-serif;
}

#button{
    font-family: 'Nunito', sans-serif;
    display: flex;
}

.connect{
    margin-left: 10px;
}

.userWallet{
    margin-left: 10px;
}

.logo-metamask{
    width: 22px;
}
